<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>community</title>
</head>

<body>
    <h2>게시판</h2>
    게시물 수 : {{ boardCount }}<br>
    <a href="write">글쓰기</a>
    <table border="1">
        <tr>
            <th>제목</th>
            <th>지역</th>
            <th>사진</th>
            <th>글 내용</th>
            <th>좋아요</th>
            <th>댓글 수</th>
        </tr>
        {% for row in boardList %}
        <tr align="center">
            <td><a href="detail?idx={{row.idx}}">{{ row.title }}</a></td>
            <td>{{ row.location }}</td>
            <td>{{ row.board_img }}</td>
            <td>{{ row.content }}</td>
            <td>{{ row.liked }}</td>
            <td>{{ commentCount }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="7" align="center">
                {% if start_page >= page_list_size %}
                <a href="?start={{prev_list}}">[이전]</a>
                {% endif %}
                {% autoescape off %}
                {% for link in links %}
                {{link}}
                {% endfor %}
                {% endautoescape %}
                {% if total_page > end_page %}
                <a href="?start={{next_list}}">[다음]</a>
                {% endif %}
            </td>
        </tr>
    </table>
</body>

</html>