{% load static %}
회원가입 페이지
<br>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>아이디</p>
    <input name="username" type="text">
    <p>비밀번호</p>
    <input name="password" type="password">
    <p>닉네임</p>
    <input name="nickname" type="text">
    <p>생년월일</p>
    <input name="birth_year" type="text">
    <input name="birth_month" type="text">
    <input name="birth_day" type="text">
    <p>성별</p>
    <input name="gender" type="text">
    <input type="submit" value="회원가입">
</form>